/* --------------- Responsiveness --------------- */

@media (max-width: 767px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    .nav {
        ul {
            display: flex;
            justify-content: flex-end;
            padding: 1em 0;
            list-style: none;
    
        }
        
        li { display: inline-block; }
    }
    
    .landingpage2 {
        display: block;
        grid-column: 1;

    }
    
    .landingpage2 h1 {
        grid-column: 1;
        grid-row: 1 / 1;
        grid-column: span 1;
        justify-content: center;
        font-size: 25px;
     
    }

    .grid-container {
        grid-template-columns: none; /* ADD THIS */
      
    }
    
   
    .grid-item1 {
        grid-column: 1 / 1;
        grid-row: 8 / 8;
        background-color: rgba(202, 69, 136, 0.5);
        color: #fff;
        font-size: 25px;
    }
    
    .grid-item2 {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        background-color: rgba(23, 136, 136, 0.5);
        color: #fff;
        font-size: 25px;
    }
    
    .grid-item3 {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
        background-color: rgba(179, 155, 22, 0.5);
        color: #fff;
        font-size: 25px;
    }
    
    .grid-item4 {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
        background-color: rgba(23, 128, 122, 0.5);
        color: #fff;
        font-size: 25px;
    }
    
    .grid-item5 {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
        background-color: rgb(170, 29, 50);
        color: #fff;
        font-size: 25px;
    }
    
    .grid-item6 {
        grid-column: 1 / 1;
        grid-row: 6 / 6;
        background-color: rgb(6, 92, 6);
        color: #fff;
        font-size: 25px;
    }
    
    .grid-item7 {
        grid-column: 1 / 1;
        grid-row: 7 / 7;
        background-color: rgba(139, 41, 6, 0.5);
        color: #fff;
        font-size: 25px;
    } 
    
    .aside {
        display: none;
    }
    
    .text { 
        text-align: center !important;
    }

    .text h1 {
        text-align: center !important;
    }
}
