$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #eee;
$background-alternative-color: #e0fbfc;
$box1: rgb(202, 202, 200);
$box2: rgb(179, 179, 179);
$box3: rgb(174, 174, 171);
