{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>

<!-- index.twig -->
<div class="auto alert">
    <h1 class="auto">Alert!</h1>
  </div>